@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700,300);


.center{text-align: center;}
.left{float: left;}
.right{float: right;}
ul{list-style-type: none;}
/*************************************/
/* MAIN LAYOUTS PAGE */
/*************************************/

#sideMenu{
	width: 95px;
	background: #4ac7e0;
	height: 100%;
	float: left;
}

#bodyContent{
	height: 100%;
	float: left;
}

.list-header-menu{
	float: right;
	margin-right: 5%;
	padding: 10px;
}


/*************************************/
/*  CONTACT VIEW  */
/*************************************/
#contactWrapper
{
	background: url(../img/contact-bk.jpg);
	height:979px;
	background-position: center;
	overflow: hidden;
}
.contact-title{
	padding: 0;
	margin: 0;
	font-weight: 300;
	font-family: 'Comfortaa', cursive;
	width: 40%;
	font-size: 40px;
	line-height: 50px;
}
.left-contact-title{
	text-align: right;
	border-bottom: solid 2px #fff;
	color: #fff;
	padding-right: 10px;
	margin-left: 62.5%;
	margin-top: 4%;
}
.right-contact-title{
	border-top: solid 2px #98bac3;
	color: #98bac3;
	margin-left: -3%;
	padding-left: 10px;
	margin-top: -.27%;
}
.bottom-mail div{
	background: url(../img/blue-envelope.png) no-repeat;
	height: 252px;
	width: 641px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 25.8%;*/
}
.letter-block{
	background: url(../img/letter-block.png) no-repeat;
	height: 471px;
	width: 602px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: -15.5%;
	z-index: 99;
}
.top-letter-left-side{
	width: 50%;
	float: left;
	z-index: 0;
}
.top-letter-right-side{
	width: 50%;
	float: left;
	z-index: 0;
}

.top-letter-right-side input{
	border-radius: 5px;
	box-shadow: -4px 4px 0px #a3a5a2;
	width: 80%;
	padding: 10px 10px;
	z-index: 0;
}
.list-letter-inputs{
	margin-top: 20%;
}
.full-name-contact-letter-icon{
	background: url(../img/fullname-icon.png) no-repeat;
	display: block;
	padding-left:60px;
}
.email-contact-letter-icon{
	background: url(../img/email-icon.png) no-repeat;
	display: block;
	padding-left:60px;
}
.phone-contact-letter-icon{
	background: url(../img/phone-icon.png) no-repeat;
	display: block;
	padding-left:60px;
}
.bottom-letter{
	padding: 0 30px;
	margin-top: 3%;
}
.bottom-letter textarea{
	border-radius: 5px;
	box-shadow: -4px 4px 0px #a3a5a2;
	height: 195px;
	z-index: 0;
}
.list-letter-title{
	margin-top: 19%;
}
.list-letter-title li{
	margin: 14px 0 14px 14px;
	font-family: 'Comfortaa', cursive;
	font-size: 26px;
	color: #467f8e;
	font-weight: 300;
}

.top-letter-right-side input::-webkit-input-placeholder {
   font-family: 'Comfortaa', cursive;
   color: #76a0a9;
   font-size: 15px;
}

.top-letter-right-side input:-moz-placeholder { /* Firefox 18- */
   font-family: 'Comfortaa', cursive;
   color: #76a0a9; 
   font-size: 15px;
}

.top-letter-right-side input::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Comfortaa', cursive;
   color: #76a0a9;
   font-size: 15px; 
}

.top-letter-right-side input:-ms-input-placeholder {  
   font-family: 'Comfortaa', cursive;
   color: #76a0a9; 
   font-size: 15px; 
}

.bottom-letter textarea::-webkit-input-placeholder {
   font-family: 'Comfortaa', cursive;
   color: #76a0a9;
   font-size: 15px; 
}

.bottom-letter textarea:-moz-placeholder { /* Firefox 18- */
  font-family: 'Comfortaa', cursive;
   color: #76a0a9;
   font-size: 15px; 
}

.bottom-letter textarea::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'Comfortaa', cursive;
   color: #76a0a9;
   font-size: 15px; 
}

.bottom-letter textarea:-ms-input-placeholder {  
   font-family: 'Comfortaa', cursive;
   color: #76a0a9;
   font-size: 15px; 
}

.contact-submit-btn{
    background: url(../img/contact-btn.png);
    display: block;
    height: 68px;
    width: 210px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -7%;
    cursor: pointer;
}
/*************************************/

.header-menu-bg{
    background-color: #985424 !important;
    background: url(http://contourbeta.com/evapor/wp-content/uploads/2014/06/top-header-bk.png) !important;
    display: block;
    width: 100%;
}

.header-menu li a {
border-color: #6d4326 !important;
}
.shopping-cart .shopping-cart-icon{
    background-color: rgba(109,67,38,0.5) !important;

}

.shopping-cart .shopping-cart-title{
    background-color: #fff !important;
}
.shopping-cart .shopping-cart-title a{
    color: #828181 !important;
}
.navbar{
    background-color: #a8c057 !important;
    background: url(http://contourbeta.com/evapor/wp-content/uploads/2014/06/header-bk.png) !important;
    display: block;
    width: 100%;
}
.navbar .nav li a{
    color: #fff !important;
}
body{
    background-color: #f7e6cd !important;
}
#rev_slider_1_1_wrapper{
    height: 511px !important;
    max-height: 511px !important;}
.tp-bannertimer{
    visibility: hidden !important;
    display: none !important;
    z-index: 0 !important;
}
.tp-bannershadow.tp-shadow2{
    display: none !important;
}
.content-block.homepage{
    background-color: #fff !important;
}

/***************************************************/
/* SIDE BAR MENU */
/***************************************************/

.home-icon{
	background: url(../img/home-icon.png) no-repeat;
	height: 56px;
	width: 69px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.portfolio-icon{
	background: url(../img/portfolio-icon.png) no-repeat;
	height: 53px;
	width: 57px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.about-icon{
	background: url(../img/about-icon.png) no-repeat;
	height: 62px;
	width: 56px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.services-icon{
	background: url(../img/services-icon.png) no-repeat;
	height: 56px;
	width: 56px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.contact-icon{
	background: url(../img/contact-icon.png) no-repeat;
	height: 54px;
	width: 55px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.list-side-header-menu{
	margin: 0;
	margin-top: 50%;
}
.list-menu{
	border-bottom: solid 1px #b2ecf9;
	padding: 15px 0;
	width: 80%;
	margin-left: 10%;
}
.list-menu:nth-child(5){
	border-bottom: none;
}

/*******************************************/
/* HOME PAGE */
/*******************************************/
.logo-wrapper{
	margin-top: 342px;
}
/*

    MEDIA FOR LOGO WRAPPER

*/
@media (max-width: 1680px) {
    .logo-wrapper{
        margin-top: 307px;
    }
}
@media (max-width: 1600px) {
    .logo-wrapper{
        margin-top: 220px;
    }
}
@media (max-width: 1366px) {
    .logo-wrapper{
        margin-top: 185px;
    }
}
@media (max-width: 1024px) {
    .logo-wrapper{
        margin-top: 146px;
    }
}
#loginForm{
	display: none;
}
.login_input{
	-moz-box-shadow:    inset 0 5px 5px #bfb4b0 !important;
   -webkit-box-shadow: inset 0 5px 5px #bfb4b0 !important;
   box-shadow:         inset 0 5px 5px #bfb4b0 !important;
   height: 50px !important;
   padding-left: 15px !important;
   font-size: 18px;
    background: #ffdbd8;
}
.login_input::-webkit-input-placeholder {
   font-family: 'Comfortaa', cursive;
   color: #bd3e3b;
   font-size: 16px;
   font-weight: 100;
}

.login_input:-moz-placeholder { /* Firefox 18- */
   font-family: 'Comfortaa', cursive;
   color: #bd3e3b; 
   font-size: 16px;
   font-weight: 100;
}

.login_input::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Comfortaa', cursive;
   color: #bd3e3b;
   font-size: 16px; 
   font-weight: 100;
}

.login_input:-ms-input-placeholder {  
   font-family: 'Comfortaa', cursive;
   color: #bd3e3b; 
   font-size: 16px; 
   font-weight: 100;
}
#indexHome{
	background: #fff0eb;
}
#indexHome
{
	background: url(../img/home-bk.jpg);
	height:979px;
	background-position: center;
	overflow: hidden;
}
#logo{
	margin-top: -11%;
}
#subLogo h4{
	font-family: 'Comfortaa', cursive;
	color: #ff7a76;
	font-size: 50px;
	margin-top: 5%;
	font-weight: 100;
}
#loginSubmit{
	width: 100%;
	background-color: #56c9e3;
	font-size: 28px;
	font-family: 'Comfortaa', cursive;
	color: #238da6;
	padding: 5px 0;
	border-radius: 5px;
	box-shadow: 0px 7px 0 #238da6;
}
.extra-login-inputs{
	margin-top: -4%;
	margin-bottom: 2%;
}
.extra-login-input{
	color: #62322f;
	font-size: 11px;
	font-family: 'Comfortaa', cursive;
}
#loginBtn{
    background:  #56c9e3;
    padding: 10px 60px 10px 30px;
    color: #fff;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
    border-radius: 5px;
}
#loginBtnIcon{
    background: url(../img/login-power-icon.png) no-repeat;
    height: 25px;
    width: 21px;
    display: block;
    margin-left: 111%;
    margin-bottom: -50%;

}

